@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDownFade {
  animation: slideDownFade 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUpFade {
  animation: slideUpFade 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.animate-slideUpFade-delay {
  animation: slideUpFade 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  animation-delay: 0.5s;
  animation-fill-mode: both;
} 